APP_NAME=Matcha Shop Backend
APP_ENV=development
DEBUG=true

POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=matcha_management_system
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://admin:password@host.docker.internal:5432/matcha_management_system

JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
